.c-tile {
	position: relative;

	height: 100vh;
}

.c-tile:first-child {
	height: calc(100vh - 50px);
}

.c-tile__body {
	position: absolute;
	top: 50%;
    transform: translateY(-50%);

    width: 100%;
    padding: 0 40px;
}

.c-tile a {
	color: #E37353;
	font-style: italic;
}

.c-button {
	display: block;
	padding: 10px 20px;

	background-color: #E37353;
	
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	letter-spacing: 2px;
}

/* Override .c-tile a */
a.c-button {
	color: white;
}

.c-prototype {
	width: 350px;
	height: 614px;
	margin-top: 73px;
	margin-left: 14px;

	background: white;
	border: none;
}

.c-prototype__container {
	position: relative;
}

.c-prototype__wrapper {
	position: absolute;
	top: 0;
	left: 0;

	pointer-events: none;
}

.m-scooch-bulleted a {
	background-color: #939FA6;
}

.m-scooch-bulleted a.m-active {
	background-color: #E37353;
}

.m-item {
	text-align: center;
}

.video-js {
	margin: auto;

	background-color: transparent;
}

.video-js .vjs-big-play-button {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}